
h1 {
	margin-left:100px;
	margin-right:100px;
	text-align:center;
	padding:15px;
}

p {
	font-size:1.125em;
}

img.center {
	display:block;
	margin-left:auto;
    margin-right: auto;
	width:22em;
	padding-bottom:15px;
}

.center {
	padding-top:20px;
	padding-left:30%;
	padding-bottom:40px;
}

a.link {
	color:#27ae60 !important;
}

a > button {
	color:#7f8c8d !important;
}

div.information {
	padding:25px;
	border:20px outset green;
}

div.container {
	font-family:'Roboto', sans-serif;
	background-color:white;
}

span.title {
	font-family:'Roboto', sans-serif;
	font-size:4em;
	text-align:right;
}

.btn-lg {
	border:1px solid green !important;
	background-color:#27ae60 !important;
}

.jumbotron {
	float:left;
	width:100%;
	background-color: #2ecc71 !important;
}

.resize-video {
	float:right;
	width:100%;
	padding-bottom:100px;
}

#home-image {
	float:right;
	width:50%;
}

button.login {
	float:right;
}

body {
	background-color:#ecf0f1 !important;
	padding-bottom:50px;
	padding-top:10px;
}

form.align > input, select {
	width:50%;
}

form.align > label {
	width:100px;
}

/* For the login.html page */


.input-group {
	width:50%;
}

/* Footer for all pages */

footer {
	color:green;
}


